img {
  width: 350px;
  height: 250px;
  border: solid black 2px;
}

h4 {
  text-align: center;
  text-decoration: underline;
  color: #33e;
  font-weight: bolder;
  font-family: fantasy;
}

h5 {
  text-decoration: underline;
  font-weight: bolder;
}

body {
  background-image: url(../img/background.png);
}

.jumbotron {
  background-color: green;
  text-align: center;
}
.row {
  padding: 8px;
  back
}

.btn-primary.active {
  color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin-bottom: 10px;
}

.col-md-4 {
  border: solid black 2px;
}

#navbar ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#navbar ul li {
  display: inline;
}
#navbar ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #FDFEFE;
  background-color: #990000;
}
#navbar ul li a:hover {
  color: #17202A;
  background-color: #ff8566;
}
